html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.options {
  height: 5%;
}

.options > button {
  padding: 0px;
  border-width: 6px;
  border-radius: 6px;
}

.canvasDiv {
  width: 100%;
  height: 95%;
}

.sp-cancel,
.sp-choose {
  display: none;
}

#widthChanger {
  width: 40px;
}